.review {
    list-style: none;
    text-align: left;
    border: 2px solid rgb(189, 165, 33);
    border-radius: 8px;
    padding: 8px 8px 16px;
    margin: 16px 0;
    width: 100%;
}

.date {
    font-size: 12px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.star {
    color: rgb(250, 228, 105);
}
