.errorMessage {
  font-size: 32px;
  font-weight: 500;
  color: rgb(124, 20, 41);
  margin: 100px auto;
}

.card {
  margin: 100px auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.photo {
  width: 300px;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 200px;
  text-align: left;
}

.wight {
  font-size: 12px;
}

.description {
  font-size: 32px;
  text-align: left;
  margin-top: 20px;
}

.reviews {
  font-size: 12px;
}

.new {
  background-color: rgba(75, 167, 238, 0.7);
  border-radius: 12px;
  padding: 4px;
  line-height: 24px;
  font-weight: 500;
}

.discount {
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 12px;
  padding: 4px;
  line-height: 24px;
  font-weight: 500;
}

.price {
  text-decoration: line-through;
  font-size: 12px;
}

.totalPrice {
  font-size: 24px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like {
  color: red;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.button {
  background-color: rgb(250, 228, 105);
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  margin-top: 8px;
  cursor: pointer;
  font-size: 16px;
}

.question {
  margin: 40px auto 20px;
  text-align: center;
}

.buttonCancel, .buttonClear {
  background-color: rgb(250, 228, 105);
  font-size: 24px;
  border-radius: 16px;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  border: none;
  transition: all 0.5s ease;
}

.buttonsModalWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.buttonClear:hover,
.buttonCancel:hover {
  box-shadow: 4px 4px 2px rgb(189, 165, 33);
}
