.header {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 8px 40px;
  gap: 20px;
  background-color: rgb(250, 228, 105);
  margin-top: 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
}

.logo {
  width: 50px;
  height: 50px;
}

.header li:nth-child(2) {
  margin-left: auto;
}

/* .header li:nth-child(2) {
} */

.link {
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.link:hover {
  color: rgb(14, 14, 160);
  font-size: 24px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.activeLink {
  font-size: 24px;
}

.searchWrapper {
  line-height: 32px;
  padding: 4px;
  border-radius: 32px;
  font-size: 24px;
  margin: 8px 0;
  border: none;
  width: 30vw;
  background-color: white;
  display: flex;
  position: relative;
}

.search:focus {
  outline: none;
}

.searchCloseButton {
  color: rgb(182, 178, 178);
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
}

.search {
  text-align: center;
  width: 100%;
}

.searchOpenButton {
  color: black;
  cursor: pointer;
}
